<nav id="nav" class="nav nav-pills navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png"/>
    </a>
    <a class="nav-link btn btn-primary" href="/courses">Courses</a>
    <a class="nav-link btn btn-primary" href="/subscribers/new">Contact</a>
    <a class="nav-link btn btn-primary" href="/subscribers">Subsribers</a>
    <a class="nav-link btn btn-primary" href="/users">Registered Users</a>
    <div id="modal-button" role="button" class="nav-link btn btn-primary" data-toggle="modal" data-target="#coursesModal">Latest Courses</div>

    <% if (loggedIn) { %>
        <div class="logged-in-nav">
            <p>Logged in as 
                <a class="nav-link" href="<%=`users/${currentUser._id}`%>" style="display:inline; padding-left: 5px;"><%= currentUser.fullName %></a>
            </p>
            <a class="nav-link zero-padder" href="/users/logout">Log Out</a>
        </div>
	<% } else { %>
		<a class="nav-link btn btn-primary" href="/users/login">Log In</a>
	<% } %>
</nav>