<nav id="nav" class="nav nav-pills navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png"/>
    </a>
    <a class="nav-link btn btn-primary" href="/courses">Courses</a>
    <a class="nav-link btn btn-primary" href="/subscribers/new">Contact</a>
    <a class="nav-link btn btn-primary" href="/subscribers">Subsribers</a>
    <a class="nav-link btn btn-primary" href="/users">Registered Users</a>
    <a class="nav-link btn btn-primary" href="/users/login">User Login</a>
</nav>