<div class="chat-container">
    <h1>Chat</h1>
    <form id="chatForm">
        <input id="chat-input" type="text" class="form-control" autofocus /><br>
        <input type="submit" class="btn btn-success" value="Send" />
    </form>
    <div id="chat" style="margin-top: 15px;"></div>
</div>