<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<title>Recipe App</title>
</head>

<body>
    <%- include("partials/navigation") -%>
	<div class="flashMsgConatiner">
		<% if (flashMessages) { %>
			<% if (flashMessages.success) { %>
				<div class="alert alert-success"> <%= flashMessages.success %></div>
			<% } else if (flashMessages.error) { %>
				<div class="alert alert-danger"> <%= flashMessages.error %> </div>
			<% } %>
		<% } %>
	</div>
	<div id="container">
		<%- body %>
	</div>
	<div id="footer" class="text-uppercase">
		<p>Footer</p>
		<%if (currentUser) { %>
		<a href="/chat" title="open chat" aria-label="Go to chat page" style="position: absolute; top: -20px; right: 15px;">
			<img class="chat-icon" src="/images/chat.svg" alt="chat icon" width="60px" height="60px">
		</a>
		<% } %>

	</div>

	<!-- courses modal (cannot be inside any other element so it is not rendered beghind the overlay -->
	<div class="modal" id="coursesModal" tabindex="-1" aria-labelledby="coursesModal" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header" style="border-bottom: 1px solid transparent;">
			  <h5 class="modal-title" id="exampleModalLabel">Latest Courses</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer" style="border-top: 1px solid transparent;"><a href="/courses">See All</a></div>
		  </div>
		</div>
	</div>

	<script type="text/javascript" src="/css/js/jquery.min.js"></script>
	<script type="text/javascript" src="/css/js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/recipeApp.js"></script>
	<script type="text/javascript" src="/js/confetti.js"></script>
</body>

</html>