<div>
    <h1>Thanks <span> <%- subscriber -%> </span> for signing up for our latest updates</h1><hr />
    <p><strong>Now it's a good time to register for our amazing courses</strong></p><br />
    <a class="btn btn-primary" href="/users/new">Register</a>
</div>