<div>
    <h1>Stay up to date! <br>
        <span style="font-size: .8em;">Sign up for our delicious newsletter</span>
    </h1>

    <form class="contact-form" action="/subscribers/create" method="POST">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" name="name" id="inputName" class="form-control" required autofocus/>
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" name="email" id="inputEmail" placeholder="email@email.com" aria-label="type in your email to subscribe" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="inputZipCode">Zip Code</label>
            <input type="text" name="zipCode" id="inputZipCode" pattern="[0-9]{5}" class="form-control" required />
        </div>
        <input type="submit" value="Submit" class="btn btn-primary btn-block" />
    </form>
    
</div>
